{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load django_bootstrap5 %}
{% if a %}
<a href="{% url 'articles:new' %}">영화리뷰 작성</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">글번호 </th>
      <th scope="col">리뷰제목</th>
      <th scope="col">영화제목</th>
    </tr>
  </thead>
  <tbody>
    {% for k in a %}
    <tr>
      <th scope="row">{{ k.pk }}</th>
      <td><a href="{% url 'articles:detail' k.pk %}">{{ k.title}}</a></td>
      <td>{{ k.movie_name }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% elif b %}
<a href="{% url 'articles:delete' b.pk %}">삭제</a>
<a href="{% url 'articles:update' b.pk %}">수정</a>
{{b.title}}
{{b.content}}

{% endif %}
{% endblock %}